{% extends 'base.html.twig' %}

{% block title %}New Dormitory{% endblock %}

{% block body %}
    <h1>Create new Dormitory</h1>

    {{ include('dormitory/_form.html.twig') }}

    <a href="{{ path('app_dormitory_index') }}">back to list</a>
{% endblock %}
